*
!.gitignore
!korsord.py
!README.md
!makefile

# Python scripts
!gen.py
!render.py

!clues.py
!clues-gen.py

!words.py
!words-gen.py
!words-from.py

!model.py
!model-gen.py

!image.py
!image-gen.py

!grid.py
!grid-gen.py

# Shell scripts
!debug.sh
!valgrind.sh
